:root{
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{    
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;    
}

/* Logo*/

.logo{    
    max-width: 1440px;    
    margin:  50px 180px 80px auto;
}

/* Container */

main .wrapper{
    width: 100%;
    max-width: 1440px;         
}

.bg{    
    height: 100vh;
    background-image: url('/images/bg-desktop.svg');    
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--violet);
    overflow: hidden;
}

main .container{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: 100px;
    margin: 0 auto;
}

main .mockup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;           
}

main .mockup img{
    width: 100%;
}

main .container .description{   
    display: flex;
    justify-content: center;    
    flex-direction: column;        
    color: #fff;
    margin: 0 0 100px 0; 
}

main .container .description h1{
    width: 30rem; /*63.3%*/
    font-size: 40px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;   
}

main .container .description p{ 
    width: 36rem;         
    font-size: 20px;    
    font-family: 'Open Sans', sans-serif;
    margin: 30px 0 30px 0;    
}

main .btn{
    width: 13rem;
    height: 3.5rem;    
    border-radius: 30px;
    color: var(--violet);
    cursor: pointer;
    background-color: #fff;
    border-style: none;    
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

main .btn:hover{
    background-color: var(--magenta);
    color: #fff;
}

/*Footer*/

footer{
    width: 86.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px 0;
    padding-right: 25px;
}

footer a{ 
    width: 35px;
    height: 35px;
    padding-top: 5px;
    margin: 20px 5px;
    border: 1px solid #fff;
    border-radius: 100%;
    color: #fff;
    text-align: center; 
}

footer a:hover{ 
    border: 1px solid var(--magenta);
    color: var(--magenta);
}